
__pycache__/
*.py[cod]
*$py.class
*.so


venv/
.venv/
env/
ENV/
env.bak/
venv.bak/


data/raw_cmapss/*
data/raw_secom/*
!data/raw_cmapss/.gitkeep
!data/raw_secom/.gitkeep
*.csv
*.txt
*.data


*.joblib
*.pkl
*.pth
*.onnx
models/

.env
.env.local
*.env

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

.ipynb_checkpoints/
